body{margin: 0px;}
div.first{/* border: 20px solid red; */ /*margin, padding 기준*/
    border-top: 50px solid yellow;
    border-right: 40px solid #0000ff;
    border-bottom: 30px solid #00ff00;
    border-left: 20px solid rgba(255,0,0,0.5) ;
    /* padding 4방향 */
    /* padding: 20px; */
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 20px;

    /* margin: 20px; */
    /* 4개를 연달아 쓰게되면 위, 오른쪽, 아래, 왼쪽 순 */
    /* 3개를 연달아 쓰게되면 위, 좌우, 아래 */
    /* 2개를 연달아 쓰게되면 위,아래 좌,우 */
    /* 1개를 쓰게되면 상하좌우 모두 한번에 */
    margin: 30px 60px;

    /* width: 300px; */ /*크기기준*/
    /* height: 50px; */ /*크기기준*/
    /* 높이가 auto일때 글씨를 다 감싸주는 정도, 넓이가 auto일때 브라우저 전체 넓이 */
    width: 50%;}
div.second{border: 1px solid red;
           width: 200px;
           margin: 20px auto;
           /* margin의 auto는 좌우 가운데 정렬을 뜻하고 좌우밖에 적용이 안됨 */
          }
div.third{border: 1px solid red;
          max-width: 700px;
          min-width: 600px;
        
          border-radius: 10px;}
div.fourth img {border-width: 2px;
                border-style: dotted;
                border-color: grey;

                width: 200px;
                height: 200px;
                /* 이미지는 margin: auto;로 가운데 처리가 안된다 */
                border-radius: 50%;
                margin-top: 20px;}

div.talk {width: 100px;
          background-color: yellow;
          border: 1px solid black;
          padding: 10px;}

div.talk.right{border-radius: 20px 0 20px 20px;
               margin-left: 200px;}
div.talk.left{border-radius: 0 20px 20px 20px;
              margin-bottom: 20px;}

#p, #c1, #c2{border: 1px solid red;}
/* margin이 겹쳐서 나타날수도 있다 */
#c1{margin: 20px;}
#c2{margin: 20px;}

div.box{border: 1px solid red;
    margin: 10px;
    padding: 50px;
    width: 50%;}    
div.box.border{box-sizing: border-box;}
/* border까지 포함해서의 크기, 상속되지않는다 */

.i_d1{padding-left: 100px;}
.i_d2 img{border-radius: 15px;
          width: 100px;
          height: 80px;}
.i_d2 img:hover{width:110px;}
/* table{border-collapse: collapse;} */
/* table,td {border-right: 1px solid black;} */
.i_d3{margin:20px 0px} 
.gray{color:gray}
.up{margin: 0 5px;
    border: 1px solid red;
    padding: 0px 5px;
    color: red;}

.blank{height: 5px;}

.img_1d img{width: 200px;
            height: 250px;
            border-radius: 20px;}
.table_1{margin:0}

.pp_2 img{width: 200px;
         height: 250px;
         border-radius: 20px;}
.pp_3{padding-left: 30px;}
.pp_4{padding-left: 30px;}

/* 연습 */
.some1{border: 1px solid red}
